@media(max-width:320px){
	.extd{
		margin-top:20px;
	}
}

@media(max-width:360px){
	.extd{
		margin-top:20px;
	}
}

@media(max-width:768px){
	.extd{
		margin-top:20px;
	}
	
}

@media(max-width:800px){
	.extd{
		margin-top:20px;
	}
	
}


@media(max-width:980px){
	.adj,.adjMt20{
		margin-top:20px;
	}
	.adjMt10{
		margin-top:10px;
	}
	.padR0,.adjPadR0{
	padding-right:15px !important;
	}
	.adjPadL0{
	padding-left:15px !important;
	}
}

@media(min-width:980px){
	.hide-scroll{
	overflow: hidden;
	}
	
}