	.dialog{
	position:fixed;
	width:auto;
	height:auto;
	margin:0px auto;
	padding:10px;
	/* border:10px solid rgba(12,151,240,0.1); */
	background: #fff;
	z-index:999999;
	display:none;
	}
	.dialog  div.header{
	position:relative;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
	}
	.dialog frame{
	}
	.lock {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #222;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	z-index: 99999;
}

.disable{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	cursor: not-allowed;
	opacity: 0.7;
	filter: alpha(opacity=70);
	text-align: center;
}
	
	
	.draggable{
	position:fixed;
	width:auto;
	height:auto;
	z-index:9999;
	}
	.loading{
			width:100%;
			height:100%;
			background:#fff;
			text-align: center;
			padding-top:100px;
			font-size: 40px;
			}