@CHARSET "UTF-8";
@import "bootstrap.css";
@import "main.css";
@import "calc.css";
@import "datepicker.css";
@import "icomoon/style.css";
/* @import url(http://fonts.googleapis.com/css?family=Raleway); */

html,body{
    position: relative;
    height: 100%;
}

body{
	background:#fff;
	font-family: 'Raleway',tahoma, sans-serif;
	font-size:13pt;
	color:#333;
	/* overflow: hidden; */
}