@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-347gb9');
	src:url('fonts/icomoon.eot?#iefix-347gb9') format('embedded-opentype'),
		url('fonts/icomoon.woff?-347gb9') format('woff'),
		url('fonts/icomoon.ttf?-347gb9') format('truetype'),
		url('fonts/icomoon.svg?-347gb9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-empty-cart:before {
	content: "\e607";
}
.icon-discount:before {
	content: "\e601";
}
.icon-cheetah:before {
	content: "\e600";
}
.icon-shopping100:before {
	content: "\e602";
}
.icon-calculate:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-cog:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e606";
}
